$size: calc(1vh + 1vw);

$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$phone: 576px;

$black: #222222;
$white: #F5F5F5;
$yellow: #F2B819;

$font-fixel-thin: "FixelDisplay-Thin", sans-serif;
$font-fixel-extra-light: "FixelDisplay-ExtraLight", sans-serif;
$font-fixel-light: "FixelDisplay-Light", sans-serif;
$font-fixel-regular: "FixelDisplay-Regular", sans-serif;
$font-fixel-medium: "FixelDisplay-Medium", sans-serif;
$font-fixel-semi-bold: "FixelDisplay-SemiBold", sans-serif;
$font-fixel-bold: "FixelDisplay-Bold", sans-serif;
$font-fixel-extra-bold: "FixelDisplay-ExtraBold", sans-serif;
$font-fixel-black: "FixelDisplay-Black", sans-serif;
