$size: calc(1vh + 1vw);

$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$phone: 576px;

$black: #222222;
$white: #F5F5F5;
$yellow: #F2B819;

$font-family-fixel: 'FixelDisplay', sans-serif;

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
