@import './reset';
@import './variables';
@import './base';
@import '../components/sharedStyles';

.container {
  width: 100%;
  max-width: 1000px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@font-face {
  font-family: 'FixelDisplay Thin';
  src: url('../../assets/fonts/FixelDisplay-Thin.woff2');
}

@font-face {
  font-family: 'FixelDisplay ExtraLight';
  src: url('../../assets/fonts/FixelDisplay-ExtraLight.woff2') format('truetype');
}

@font-face {
  font-family: 'FixelDisplay Light';
  src: url('../../assets/fonts/FixelDisplay-Light.woff2') format('truetype');
}

@font-face {
  font-family: 'FixelDisplay Regular';
  src: url('../../assets/fonts/FixelDisplay-Regular.woff2') format('truetype');
}

@font-face {
  font-family: 'FixelDisplay Medium';
  src: url('../../assets/fonts/FixelDisplay-Medium.woff2') format('truetype');
}

@font-face {
  font-family: 'FixelDisplay SemiBold';
  src: url('../../assets/fonts/FixelDisplay-SemiBold.woff2') format('truetype');
}

@font-face {
  font-family: 'FixelDisplay Bold';
  src: url('../../assets/fonts/FixelDisplay-Bold.woff2') format('truetype');
}

@font-face {
  font-family: 'FixelDisplay ExtraBold';
  src: url('../../assets/fonts/FixelDisplay-Medium.woff2') format('truetype');
}

@font-face {
  font-family: 'FixelDisplay Black';
  src: url('../../assets/fonts/FixelDisplay-Black.woff2') format('truetype');
}

