@import '../../styles/globals/_variables.scss';
@import '../../styles/components/_buttonStyles.scss';
@import '../../styles/components/_sharedStyles.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin: 0 auto;

  .left {
    width: 400px;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
      color: $black;
      font-weight: $font-weight-regular;
    }

    p {
      padding-top: 20px;
      font-size: 18px;
      color: $black;
      font-weight: $font-weight-regular;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .inputWrapper {
      display: flex;
      gap: 20px;

      .phoneInput {
        flex: 1;
        height: 75px;
        width: 400px;
        border-radius: 50px;
        border: 1px solid $black;
        padding: 0 20px;
        font-size: 18px;
        outline: none;
        color: rgba($black, 0.5);
      }

      .submitButton {
        height: 75px;
        width: 250px;
        border-radius: 50px;
        border: none;
        background-color: $black;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        outline: none;
        padding: 0 20px;
        white-space: nowrap;
      }
    }

    .socialIcons {
      display: flex;
      justify-content: flex-start;
      gap: 20px;

      .icon {
        width: 50px;
        height: 50px;
        background-color: #ccc;
      }
    }
  }
}
