@import '../../styles/globals/_variables.scss';
@import '../../styles/components/_buttonStyles.scss';
@import '../../styles/components/_sharedStyles.scss';


.container {
  display: flex;
  justify-content: space-between;
  max-width: $desktop;
  margin: 200px auto;

  .left {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .logo {
    height: 150px;
    width: auto;
  }

  .title {
    font-size: 40px;
    margin: 20px 0;
    font-family: $font-family-fixel;
    font-weight: $font-weight-extralight;
  }

  .text {
    font-size: 20px;
    margin: 20px auto;
    font-family: $font-family-fixel;
    font-weight: $font-weight-light;
  }

  .animatedButton {
    @include buttonBaseStyles;
    margin-top: 20px;

    @include buttonHoverStyles;
  }

  .right {
    width: 600px;
    display: flex;
    justify-content: flex-end;
  }

  .rightImage {
    width: 100%;
    height: auto;
  }
}
